# Local data folder for n8n files
DATA_FOLDER=./local_data

# Optional timezone to set which gets used by Cron-Node by default
# If not set New York time will be used
GENERIC_TIMEZONE=Europe/Berlin


POSTGRES_USER=n8nRootUser
POSTGRES_PASSWORD=hamster101!
POSTGRES_DB=n8n

POSTGRES_NON_ROOT_USER=n8nUser
POSTGRES_NON_ROOT_PASSWORD=hamster101!

ENCRYPTION_KEY=lqxh0LN8ER35Dj9nvgQ1zXqpv90pLuR0y8zRQQH2mYA=
